<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- bootstrap 은 jquery가 있어야만 하기 때문에 먼저 호출함 = bootstrap.js 가 제이쿼리에 의존한다-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>

</body>
</html>